NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://bluetech:BlueTech@2024@localhost:5432/bluetech_sign
REDIS_URL=redis://localhost:6379

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=bluetech_admin
MINIO_SECRET_KEY=BlueTech@Minio2024
MINIO_BUCKET=bluetech-sign
MINIO_USE_SSL=false

APP_URL=http://localhost:5173
FRONTEND_URL=http://localhost:5173

JWT_SECRET=trocar-em-producao-gerar-string-aleatoria-64-chars
JWT_EXPIRES_IN=7d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuemail@gmail.com
SMTP_PASS=xxxx xxxx xxxx xxxx
SMTP_FROM_NAME=BlueTech Sign

BLUEPOINT_API_URL=https://bluepoint-api.bluetechfilms.com.br
BLUEPOINT_API_KEY=
